.App {
  text-align: center;
}

.loginHeader{
  margin-bottom: 40px;
}

.loginContent{
  display: flex;
  justify-content: space-around;
}

.inputblocks{
  margin-bottom: 20px;
}

.inputblocks label{
  margin-bottom: 5px;
}

.inputblocks input{
  width: 200px;
  border-radius: 3px;
  border: 1px solid black;
  height: 30px;
}

.loginButton,.registerButton{
  width: 200px;
  height: 30px;
}